#root {
  max-width: 1280px;
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.card {
  padding: 2em;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.historical-container {
  display: flex;
}