#root {
  max-width: 1280px;
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  justify-content: center;
}

.card {
  padding: 2em;
}

.input-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-between;
}

.historical-container {
  display: flex;
  flex-direction: column;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}